/*import the font(woff) from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* * meaning all of the element*/
/* Here is the must for the whole body 
style and let it fix in the border box*/
* {
    margin: 0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    outline: none;
    border:none;
    /*let the website can be jump by scolling when cilck on to jump to other page*/
    scroll-behavior: smooth;
    font-family:'Poppins',sans-snetif;
}

/*:root=set the whole html document in this color*/
:root{
    --bg-color: #081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}

/*html is use to change the px to rem.
As 62.5% of the default font size is 16px, in rem is 16/10.  
For example, 1.6rem will have a 16px rendering (16/10=1.6).*/ 
html{
    font-size: 62.5%;
    /*overflow-x is to clip the content or add a scroll bar*/
    /*clip the content when the overflow st the left or right edges*/
    overflow-x:hidden ;
}

body{
    background: var(--bg-color);
    color:var(--text-color);
}

/*class=header*/
.header{
    /*when using the position, 
      write position= left/right, top/bottom*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:2rem 9%;
    background:yellowgreen;
    /*make the website display flexible*/
    display:flex;
    /*make the element have space between*/
    justify-content:space-between;
    align-items:center;
    /*the order of the element*/
    z-index:100;
}

.logo{
    /*double half(2.5x) of the broswer's font, 2.5x16*/
    font-size:2.5rem;
    color: var(--text-color);
}